<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <% if(!error){%>
        <p></h2><%= error %></p>
    <%} %>
    <form action="/logincheck" method="post">
        <label> Username: </label> &nbsp; <input type="text" name="username">
        <br><br>
        <label> Password: </label> &nbsp; <input type="password" name="password" >
        <br>
        <input type="submit" value="Login">
    </form>

</body>
</html>